.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.players-facing{
    width: 600px;
    height:400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

